h2 {
    margin-top: 90px;
}
.collapsible.current_semester {
  /*outline: solid #0469B1 2px;
  outline-offset: 3px;*/
  background-color: #0469B1;
  
}
.collapsible.current_semester table {
  display: inline-table;
}

.table {
  overflow: hidden;

} 
.jumbotron {
    background-color: #d3d3d3;
    padding-bottom: 5px;
    border-radius: 3px;
}

button {
    margin: 5px;
    height: 50px;
}

.update-link {
    font-weight: bold;
    color: #0469B1;
    padding: 5px;
    border: solid #d3d3d3 1px;
}
.profile-semesters {
  margin-bottom: 100px;
}
.semesters {
    margin-bottom: 100px;  
}

.collapsible {
    background-color: #777;
    opacity: .8;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    
  }
  
  .active, .collapsible:hover {
    opacity: 1.0;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
 
  }
  
  .active:after {
    content: "\2212";
  }
  /*
 .content {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  */
  .content {
    
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  