form .title {
    width: auto;
    height: auto;
    background-color: #0469B1;
}
.survey-content 
{
    margin-bottom: 100px;
}
h2 {
    margin-top: 90px;
}
.jumbotron {
    background-color: #d3d3d3;
    padding-bottom: 5px;
    border-radius: 3px;
}
button {
    margin-top: 20px;
    font-weight: bolder;
}
.btn {	
	background: #0469B1;
	border: unset;
	border-radius: 3px;
}